<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <a href="/logout" >Logout</a>
    <a href="/signup" >Sign Up</a>
    <a href="/login" >Login</a>
    <a href="/questions" >Questions</a>
    <%= yield %>
  </body>
</html>
